// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import
url("https://fonts.googleapis.com/css?family=Bungee+Shade|Roboto:300,400,500");


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #ac8887;

$mainColor: #5a5a5a;
$headingColor: #4a4a4a;

$mainFontSize: 38px;
$mainFont: 'Roboto', sans-serif;
$headingFont: 'Bungee Shade', cursive;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 500;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
  &, h1, h2, h3, h4, h5, h6 {
    color: #222;
  }
}

.reveal pre {
  box-shadow: none !important;
}

.reveal .inline-pre {
  display: inline !important;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
